@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight : 500;
  font-size : 17px;
}

.container {
  margin : 10px;
  padding : 10px;
  margin-left : 20px;
}

.inputbox {
  width : 85%;
  display : flex;
  margin-bottom : 20px;
}


.inputbox1, .inputbox2, .inputbox3{
  flex-basis : 0px;
  margin : 5px;
  color : #5f5196;
  background-color : #c9c9da;
  height : 4.5vh;
  border : none;
  border-radius : 10%;
}

.inputbox1:focus, .inputbox2:focus{
  font-size : 20px;
  outline : none;
}

.inputbox1 {
  flex-grow:15;
}

.inputbox2 {
  flex-grow:3;
}

.inputbox3 {
  flex-grow:1;
 }

.contents {
  display : flex;
}

.contents_container {
  width : 85%;
  display : flex;
  
}

.contents1, .contents2, .contents3, .contents4{
  flex-basis : 0px;
  margin : 5px;
}

.contents1 {
  flex-grow:15;
  padding-left : 10px;
}

.contents2 {
  flex-grow:3;
  text-align : center;
}

.contents3 {
  flex-grow:1;
  border :none;
  background-color : #cff5ce;
  border-radius : 20%;
}

.contents4 {
  flex-grow:1;
  width : 30px;
  text-align :right;
}